Calculator.py
deepseek_bash_20250716_d050db.sh
deepseek_bash_20250716_e37f16.sh
formula_calculator - Copy.py
formula_calculator_TreeView.py
formula_calculator.spec
ماشین حساب نساجی.xlsx
build/calculator/Analysis-00.toc
build/calculator/base_library.zip
build/calculator/calculator.pkg
build/calculator/EXE-00.toc
build/calculator/PKG-00.toc
build/calculator/PYZ-00.pyz
build/calculator/PYZ-00.toc
dist/calculator.exe
build/calculator/localpycs/struct.pyc
build/calculator/localpycs/pyimod04_pywin32.pyc
build/calculator/localpycs/pyimod03_ctypes.pyc
build/calculator/localpycs/pyimod02_importers.pyc
build/calculator/localpycs/pyimod01_archive.pyc
build/calculator/xref-calculator.html
build/calculator/warn-calculator.txt
